In [1]:
import connections_config
import pandas as pd

In [3]:
#Guardar conexion a la base de datos de akademos en la variable "akademos"
akademos = connections_config.akademos_data_base

#Guardar conexion al Mercado de Datos en la variable "datamart"
datamart =connections_config.datamart_data_base

In [4]:
#Consulta para extracción de datos
query = """SELECT id AS id_motivo, nombre AS motivo_tramite FROM tramite_tbr_tramite_configuracion"""

query_almacen = """SELECT * FROM dim_motivo"""

In [7]:
#Cargar los motivos de la BD en un DataFrame
df = pd.read_sql(query, akademos)

#cargar los motivos del Mercado en un DataFrame
df_datamart = pd.read_sql(query_almacen, datamart)
df_datamart #Imprimir tabla dim_motivo del Mercado

                               id_motivo                     motivo_tramite
0   d0d9d3da-f51c-4baa-91e3-a6679068da5f                           Registro
1   7bdc04be-f760-4cae-a4e2-33f34b47c076             Ubicación por registro
2   e993a8f4-4038-472a-88f4-00b286ca1548             Ubicación por traslado
3   adf8e754-2bcf-46ce-bd09-b3d71dcbcb8c  Ubicación por cambio de Educación
4   a493688f-8b3c-4437-b50f-143214d205d5                 Ubicación por baja
5   64c0228b-60f0-4507-972b-def4d12c9624                          Matrícula
6   33ddf217-f253-480f-a7db-b70c643fa663                           Traslado
7   95da1316-e31a-4dcc-9b9f-42c4de270ca7                Cambio de Educación
8   5ac77cc3-3e54-43b3-a989-a509d216226c                               Baja
9   560caf97-2d1b-459b-af64-409dde17abe7                    Cambio de grupo
10  7fbd3773-c598-4d6b-90fd-222eeac81970                  Cambio de periodo

In [19]:
#Compara los DataFrame y quedarse solo con los valores nuevos, los que no se repiten (En caso de annadir nuevos motivos el sistema)
df_resultado = df[~df['id_motivo'].isin(df_datamart['id_motivo'])]
df_resultado

Empty DataFrame
Columns: [id_motivo, motivo_tramite]
Index: []

In [20]:
#Guardar motivos en el Mercado
df_resultado.to_sql("dim_motivo", con = datamart, if_exists = "append", index = False)

0