Carga de dimension dim_estructura

Imports

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

Conexiones Base de Datos

In [2]:
# Conexión a la base de datos origen
tabla_origen = 'postgresql://postgres:1234@localhost:5432/default-ak-celery-2023-10-13-094033'

# Conexión a la base de datos destino (Data Warehouse Almacen de Datos)
almacen = 'postgresql://postgres:1234@localhost:5432/almacen_fortes_tesis'

Consultas

In [15]:
#consulta para seleccionar los datos de la tabla de entrada
consulta_origen = """ 
    SELECT id AS id_estructura, mixta AS mixta, rural AS rural, nombre as estructura
  	    FROM estructura_tbd_estructura
                """

#consulta sacar datos del Data WareHouse
consulta_almacen = """ 
    SELECT id_estructura
  	    FROM dim_estructura
           """

#cargar los datos en un DataFrame de pandas
df = pd.read_sql(consulta_origen,tabla_origen)
df_almacen = pd.read_sql(consulta_almacen, almacen)
df, df_almacen

(                              id_estructura  mixta  rural  \
 0      00000000-0000-0000-0000-000000000001  False   True
 1      6bd9498c-41c6-44fa-bdf2-5186f724823f  False  False
 2      7ca36177-bf03-48f3-9c3e-f38b96162623  False  False
 3      8993c7a9-b986-40fa-a4ed-ca8056f2d7cf  False  False
 4      16c63353-0762-46b6-9954-7e8050d71f02  False  False
 ...                                     ...    ...    ...
 12035  f1376e68-78bb-4ecf-94c1-1807b509424a  False  False
 12036  110d2f34-1ddc-4df6-82f1-cb29b1a2df45  False  False
 12037  7500e593-f3e6-4dd9-9ae9-d153550a0f1b  False  False
 12038  dd575ed6-c4f5-462d-9422-fe2b60b7f971  False  False
 12039  ea947430-1313-426e-a2d8-972d7fcc7d42  False  False

                                             estructura
 0      Ministerio de Educación de la República de Cuba
 1                                             Hogar 15
 2                                   Comandante Pinares
 3                                José Luis García Lima
 4                                          IV Congreso
 ...                                                ...
 12035                         Dirección Municipal Yara
 12036                  Dirección Municipal Buey Arriba
 12037                                  Mayia Rodriguez
 12038                            Sofield Riveron López
 12039                       Gustavo Ameijeiras Delgado

 [12040 rows x 4 columns],
                               id_estructura
 0      00000000-0000-0000-0000-000000000001
 1      6bd9498c-41c6-44fa-bdf2-5186f724823f
 2      7ca36177-bf03-48f3-9c3e-f38b96162623
 3      8993c7a9-b986-40fa-a4ed-ca8056f2d7cf
 4      16c63353-0762-46b6-9954-7e8050d71f02
 ...                                     ...
 12035  f1376e68-78bb-4ecf-94c1-1807b509424a
 12036  110d2f34-1ddc-4df6-82f1-cb29b1a2df45
 12037  7500e593-f3e6-4dd9-9ae9-d153550a0f1b
 12038  dd575ed6-c4f5-462d-9422-fe2b60b7f971
 12039  ea947430-1313-426e-a2d8-972d7fcc7d42

 [12040 rows x 1 columns])

Comprobar duplicados

In [16]:
#Compara DataFrames y quedarse solo con los valores nuevos, los que no se repiten
df_resultado = df[~df['id_estructura'].isin(df_almacen['id_estructura'])]

df_resultado

Empty DataFrame
Columns: [id_estructura, mixta, rural, estructura]
Index: []

Cargar los datos en la  tabla del Almacén (DW)

In [17]:
df_resultado.to_sql("dim_estructura", con = almacen, if_exists = "append", index = False) #agrega datos a la tabla existente

0